@charset "utf-8";
//变量集合

$color:#32B182;//主色调
$bgc:#f3f3f3;//默认背景色
$fontColor:#333;//默认字体颜色
$yellow:#FED13A;//黄色
$bgyellow:#FED13A;//黄色
//字体默认常用颜色
$blue: #058ffc;//蓝色
$red: #FF6B49;//红色
$orange:#ec8300;//橘色
$gray:#808080;//灰色
$green: #32B182 ;//绿色
$brown:#653A00 ;//棕色
$white: #fff; //白色
$black: #000; //黑色
$grayBorder:#e5e5e5;


//页面布局默认宽度
$layout: 100%;
